/* Marianne-Bold_Italic.woff, Marianne-Bold_Italic.woff2, Marianne-Bold.woff, Marianne-Bold.woff2, Marianne-Italic.woff, Marianne-Italic.woff2, Marianne-Regular.woff, Marianne-Regular.woff2 */
@font-face {
    font-family: 'Marianne';
    src: url('assets/fonts/Marianne-Bold.woff2') format('woff2'),
         url('assets/fonts/Marianne-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Marianne';
    src: url('assets/fonts/Marianne-Bold_Italic.woff2') format('woff2'),
         url('assets/fonts/Marianne-Bold_Italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Marianne';
    src: url('assets/fonts/Marianne-ExtraBold_Italic.woff2') format('woff2'),
         url('assets/fonts/Marianne-ExtraBold_Italic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Marianne';
    src: url('assets/fonts/Marianne-ExtraBold.woff2') format('woff2'),
         url('assets/fonts/Marianne-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Marianne';
    src: url('assets/fonts/Marianne-Light_Italic.woff2') format('woff2'),
         url('assets/fonts/Marianne-Light_Italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Marianne';
    src: url('assets/fonts/Marianne-Light.woff2') format('woff2'),
         url('assets/fonts/Marianne-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Marianne';
    src: url('assets/fonts/Marianne-Medium_Italic.woff2') format('woff2'),
         url('assets/fonts/Marianne-Medium_Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Marianne';
    src: url('assets/fonts/Marianne-Medium.woff2') format('woff2'),
         url('assets/fonts/Marianne-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Marianne';
    src: url('assets/fonts/Marianne-Regular_Italic.woff2') format('woff2'),
         url('assets/fonts/Marianne-Regular_Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Marianne';
    src: url('assets/fonts/Marianne-Regular.woff2') format('woff2'),
         url('assets/fonts/Marianne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Marianne';
    src: url('assets/fonts/Marianne-Thin_Italic.woff2') format('woff2'),
         url('assets/fonts/Marianne-Thin_Italic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Marianne';
    src: url('assets/fonts/Marianne-Thin.woff2') format('woff2'),
         url('assets/fonts/Marianne-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

:root {
    --orange-crous: #F36421;
}

body {
    margin: 0 auto;
    /*padding: 20px 48px 48px 48px;*/
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    z-index: 50;
    background-color: white;
}

* {
    font-family: 'Marianne', sans-serif;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
}

header div a {
    text-decoration: none;
    color: black;
    margin: 0 10px 0 10px; 
}

#subheader {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px 0;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: white;
    z-index: 100;
}

#subheader * {
    margin: 0 10px 0 10px;
}

#subheader a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.button {
    background-color: var(--orange-crous);
    color: white;
    padding: 10px 20px;
    border-radius: 500px;
    text-decoration: none;
    border: none;
    max-width: max-content;
}

#commanderbutton {
    display: flex;
    justify-content: flex-end;
    margin-right: 15%;
}

main #background {
    background-image: url("../assets/images/back.png");
    height: 50vh;

    color:white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main #background h1, main #background p {
    margin: 0;
}

.sideside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    flex-direction: row;
}

.sideside .right p {
    margin: 30px 0;
}

#stylized-right {
    background-color: var(--orange-crous);
    border-radius: 50px 0 0 50px;
    padding: 20px;
    color: white;
}

#stylized-left {
    background-color: var(--orange-crous);
    border-radius: 0 50px 50px 0;
    padding: 20px;
    color: white;
    width: max-content;
    padding-right: 40px;
}

main > div  {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
}

#menu {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 5%;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

#menu .card {
    width: 25%;
    padding: 40px;
    gap: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #d9d9d9c4;
    display: flex;
    flex-direction: column;
}

#menu .card img {
    border-radius: 50%;
    position: relative;
    top: -25%;
    bottom: 0;
}

#menu .card h2 {
    text-align: center;
    margin-top: -20%;
}

#menu .card input[type="checkbox"] {
    display: none;
}

#menu .card label:not(:last-child)::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: rgba(0, 0, 0, 0.164);
    margin-top: 10px;
}

#menu .card input[type="checkbox"]:checked + label {
    color: var(--orange-crous);
    font-weight: 600;
}

#ext-popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#popup {
    background-color: #ffffff;
    margin: 10% auto;
    padding: 20px;
    width: 50%;
}

#popup hr {
    color: var(--orange-crous);
    border: 1px solid var(--orange-crous);
}

#popup input[type="mail"] {
    padding: 10px 0px 10px 10px;
    margin: 10px 0;
    width: 100%;
    
}

.success {
    background-color: rgb(166, 233, 166);
    border: 1px solid green;
    border-radius: 5px;
    padding: 14px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 28px;
    margin-top: 14px;
}

.already {
    background-color: rgb(240, 183, 130);
    border: 1px solid orange;
    border-radius: 5px;
    padding: 14px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 28px;
    margin-top: 14px;
}

.error {
    background-color: rgb(240, 130, 130);
    border: 1px solid red;
    border-radius: 5px;
    padding: 14px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 28px;
    margin-top: 14px;
}




#connexion {
    display: flex;
    flex-direction: column;
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
    gap: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


#connexion [type="mail"], #connexion [type="password"] {
    height: 2em;
    padding: 5px;
}

/* Footer */
footer {
    border-top: 5px solid red;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

footer div a {
    color: black;
    text-decoration: none;
}

.ml-50 {
    margin-left: 20px;
}


/* Tableau historique.php */
table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

td[rowspan="5"] {
    background-color: #f9f9f9;
    vertical-align: top;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}
